<nav class="navbar navbar-light">
  <div class="container">

    <a class="navbar-brand"
      [routerLink]="[ 'Home' ]">
			{{ appName }}
    </a>

    <ul
      class="nav navbar-nav pull-xs-right">

      <li class="nav-item">
        <a class="nav-link"
          [ngClass]="{active: isActive('HomeComponent')}"
          [routerLink]="[ 'Home' ]">
          Home
        </a>
      </li>

      <li class="nav-item" showUnAuthorized>
        <a class="nav-link"
          [ngClass]="{active: isActive('LoginComponent')}"
          [routerLink]="[ 'Login' ]">
          Sign in
        </a>
      </li>

      <li class="nav-item" showUnAuthorized>
        <a class="nav-link"
          [ngClass]="{active: isActive('RegisterComponent')}"
          [routerLink]="[ 'Register' ]">
          Sign up
        </a>
      </li>

      <!-- Show for Authorized Users Only -->

      <li class="nav-item" showAuthorized>
        <a class="nav-link"
          [ngClass]="{active: isActive('EditorComponent')}"
          [routerLink]="[ 'Editor' ]">
          <i class="ion-compose"></i>&nbsp;New Post
        </a>
      </li>

      <!-- <li class="nav-item" showAuthorized>
        <a class="nav-link"
          [ngClass]="{active: isActive('SettingsComponent')}"
          [routerLink]="[ 'Settings' ]">
          <i class="ion-gear-a"></i>&nbsp;Settings
        </a>
      </li> -->

      <!-- <li class="nav-item" showAuthorized>
        <a class="nav-link"
          [ngClass]="{active: isActive('UserPageComponent')}"
          [routerLink]="[ 'User', { username: currentUser.username } ]">
          <img [src]="currentUser.image" class="user-pic"/>
          {{ currentUser.username }}
        </a>
      </li> -->

    </ul>

  </div>
</nav>
