<div class="auth-page">
  <div class="container page">
    <div class="row">

      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">{{ title }}</h1>
        <p class="text-xs-center">
          <a
						[routerLink]="[ 'Login' ]"
						*ngIf="authType === 'register'">
            Have an account?
          </a>
          <a
						[routerLink]="[ 'Register' ]"
						*ngIf="authType === 'login'">
            Need an account?
          </a>
        </p>

        <!-- <list-errors errors="$ctrl.errors"></list-errors> -->
				<auth-form
					[authType]="authType"
					[submitTitle]="submitTitle"
				></auth-form>

      </div>

    </div>
  </div>
</div>
