<form [ngFormModel]="formData" (ngSubmit)="onSubmit()">
	<fieldset>

		<list-errors [errors]="errors"></list-errors>

		<fieldset class="form-group" *ngIf="authType === 'register'">
			<input class="form-control form-control-lg"
				[disabled]="isSubmitting"
				type="text"
				placeholder="Username"
				ngControl="username" />
		</fieldset>

		<fieldset class="form-group">
			<input class="form-control form-control-lg"
				[disabled]="isSubmitting"
				type="email"
				placeholder="Email"
				ngControl="email"/>
		</fieldset>

		<fieldset class="form-group">
			<input class="form-control form-control-lg"
				[disabled]="isSubmitting"
				type="password"
				placeholder="Password"
				ngControl="password"/>
		</fieldset>

		<button class="btn btn-lg btn-primary pull-xs-right"
			[disabled]="isSubmitting"
			type="submit" (ngSubmit)="onSubmit()">
			{{ submitTitle }}
		</button>

	</fieldset>
</form>
