<div class="home-page">

  <!-- Splash banner that only shows when not logged in -->
  <div class="banner" *ngIf="isAuthorized(false)">
    <div class="container">
      <h1 class="logo-font">{{ appName }}</h1>
      <p>A place to share your knowledge.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">

      <!-- Main view - contains tabs & article list -->
      <div class="col-md-9">
        <!-- Tabs for toggling between feed, article lists -->
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">

            <li class="nav-item" *ngIf="isAuthorized(true)">
              <a href="#" class="nav-link"
                [ngClass]="{active: listConfig.type === 'feed'}"
                (click)="changeList('feed')">
                Your Feed
              </a>
            </li>

            <li class="nav-item">
              <a href="#" class="nav-link"
                [ngClass]="{active: listConfig.type === 'all'}"
                (click)="changeList('all')">
                Global Feed
              </a>
            </li>

            <li class="nav-item" *ngIf="tagFilterExists()">
              <a href="#" class="nav-link active">
                <i class="ion-pound"></i> {{ listConfig.filters.tag }}
              </a>
            </li>

          </ul>
        </div>

        <!-- List the current articles -->
        <article-list
          [loading]="loading"
          [limit]="limit"
          [listConfig]="listConfig"
          [articles]="articles"
          (updateListConfig)="updateConfig($event)">
        </article-list>

      </div>

      <!-- Sidebar where popular tags are listed -->
      <div class="col-md-3">
        <div class="sidebar">

          <p>Popular Tags</p>

          <div class="tag-list" *ngIf="tags">
            <a href="#" class="tag-default tag-pill"
              (click)="changeList({ type: 'all', filters: {tag: tagName} })"
              *ngFor="#tagName of tags">
              {{ tagName }}
            </a>
          </div>

          <div *ngIf="!tagsLoaded">
            Loading tags...
          </div>

          <div class="post-preview"
            *ngIf="tagsLoaded && !tags.length">
            No tags are here... yet.
          </div>

        </div>
      </div>

      <!-- End the row & container divs -->
    </div>
  </div>

</div>
