<div class="editor-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-xs-12">

        <list-errors [errors]="errors"></list-errors>

        <form>
          <fieldset [ngClass]="{ disabled: isSubmitting }">

            <fieldset class="form-group">
              <input class="form-control form-control-lg"
                [(ngModel)]="article.title"
                type="text"
                placeholder="Article Title"
                [disabled]="isSubmitting" />
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control"
								[(ngModel)]="article.description"
                type="text"
                placeholder="What's this article about?"
                [disabled]="isSubmitting" />
            </fieldset>

            <fieldset class="form-group">
              <textarea class="form-control"
                rows="8"
								[(ngModel)]="article.body"
                placeholder="Write your article (in markdown)"
                [disabled]="isSubmitting" >
              </textarea>
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control"
                type="text"
                placeholder="Enter tags"
								[(ngModel)]="article.tagField"
								(keypress)="addTag($event.keyCode)"
                [disabled]="isSubmitting" />

              <div class="tag-list">
								<span *ngFor="#tag of tagList"
                  class="tag-default tag-pill">
                  <i class="ion-close-round" (click)="removeTag(tag)"></i>
                  {{ tag }}
                </span>
              </div>
            </fieldset>

            <button class="btn btn-lg pull-xs-right btn-primary" type="button" (click)="submit()" [disabled]="isSubmitting">
              Publish Article
            </button>

          </fieldset>
        </form>

      </div>
    </div>
  </div>
</div>
